body {
  background-color: greenyellow;
}

.isi-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
}

.ggss {
  display: flex;
  align-items: center;
  justify-content: center;
}